include README.rst
include LICENSE
include requirements.txt
recursive-include ckanext/usertracking *.html *.json *.js *.less *.css *.mo *.yml
recursive-include ckanext/usertracking/migration *.ini *.py *.mako
