h2 {
  margin-top: 0px;
}

.module-content {
  padding-top: 0px;
}

.search-form {
  margin-bottom: 5px;
  padding-bottom: 1px;
}

.form-control{
  width: 75%;
  display: inline-block;
}

.center-it{
  text-align: center;
}

#range{
  display: block;
}